=head1 NAME

afsio_rmfile, afsio_rmdir, afsio_rmmount - Delete files, empty directories, and
mount points from AFS

=head1 SYNOPSIS

=for html
<div class="synopsis">

B<afsio rmfile> S<<< B<-file> <I<AFS-filename>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

B<afsio rmdir> S<<< B<-dir> <I<AFS-dirname>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

B<afsio rmmount> S<<< B<-mount> <I<AFS-mountname>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

=for html
</div>

=head1 DESCRIPTION

The B<afsio rmfile> command removes the file named by the B<-file> argument
from the file system.

The B<afsio rmdir> command removes the empty directory named by the B<-dir>
argument from the file system. Non-empty directories cannot be removed by
B<afsio rmdir>.

The B<afsio rmmount> command removes the mount point named by the B<-mount>
argument from the file system. This must be a valid mount point, the command
will fail if it is not.

=head1 OPTIONS

=over 4

=item B<-file> <I<AFS-filename>>

Names the file to delete from the file system. A path not beginning with F</afs>
is interpreted relative to the cell's F<root.cell>. A path beginning with F</>
but not F</afs> is invalid. This option is used by B<afsio rmfile>.

=item B<-dir> <I<AFS-dirname>>

Names the directory to delete from the file system. A path not beginning with
F</afs> is interpreted relative to the cell's F<root.cell>. A path beginning
with F</> but not F</afs> is invalid. This option is used by B<afsio rmdir>.

=item B<-mount> <I<AFS-mountname>>

Names the mount to delete from the file system. A path not beginning with
F</afs> is interpreted relative to the cell's F<root.cell>. A path beginning
with F</> but not F</afs> is invalid. This option is used by B<afsio rmmount>.

If the given path does not correspond to a valid mount point, this option will
fail.

=item B<-cell> <I<cell name>>

Specifies the AFS cell to operate in.

=item B<-realm> <I<realm name>>

Specifies the Kerberos realm to use for authentication.

=item B<-verbose>

Has no effect for B<afsio rmfile>.

=item B<-clear>

Uses unencrypted (cleartext) connections to file servers.

=item B<-crypt>

Uses encrypted connections to file servers.

=item B<-as-user> <I<username>>

Uses localauth credentials to pretend to be the given user, allowing
authenticated RXAFS operations without a running kernel client.

=item B<-help>

Prints the online help for this command. All other valid options are
ignored.

=back

=head1 EXAMPLES

The following command deletes the files example.txt and hello.txt from the cell
root:

   % afsio rmfile -file example.txt hello.txt

The following command deletes the empty directory test from the cell root:

   % afsio rmdir -dir test

The following command deletes the mount /afs/example.com/test:

   % afsio rmmount -mount /afs/example.com/test

=head1 PRIVILEGE REQUIRED

The issuer must have the C<d> (delete) permission on the ACL of the directory
that contains the files, directories, or mounts to delete.

=head1 SEE ALSO

L<afsio(1)>

=head1 COPYRIGHT

Copyright 2026 Junsouh Hong <junsouh@gmail.com>

This documentation is covered by the BSD License as written in the
F<LICENSE> file. This man page was written by Junsouh Hong for OpenAFS.