=head1 NAME

afsio_read - Read files or directories from AFS

=head1 SYNOPSIS

=for html
<div class="synopsis">

B<afsio read> S<<< B<-file> <I<AFS-filename>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>] [B<-md5>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

B<afsio fidread> S<<< B<-fid> <I<volume.vnode.uniquifier>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>] [B<-md5>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

B<afsio readdir> S<<< B<-dir> <I<AFS-dirname>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>] [B<-md5>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

B<afsio fidreaddir> S<<< B<-fid> <I<volume.vnode.uniquifier>> >>>
    S<<< [B<-cell> <I<cellname>>] >>>
    [B<-verbose>] [B<-clear>] [B<-crypt>] [B<-md5>]
    S<<< [B<-realm> <I<realm name>>] >>>
    S<<< [B<-as-user> <I<username>>] >>>  [B<-help>]

=for html
</div>

=head1 DESCRIPTION

The B<afsio read> command reads a file from AFS at the path specified
by the B<-file> argument and writes its contents to standard output.
The file must already exist.

The B<afsio fidread> command performs the same operation, but identifies
the target file by its FID (the standard C<volume.vnode.uniquifier>
triple) specified in the B<-fid> argument.

The B<afsio readdir> command reads the contents of a directory from AFS
at the path specified by the B<-dir> argument and writes the raw
directory data to standard output. AFS directories are stored as binary
structures; the output of this command is not human-readable.

The B<afsio fidreaddir> command performs the same operation as B<afsio
readdir>, but identifies the target directory by its FID specified in
the B<-fid> argument.

=head1 CAUTIONS

The output of B<afsio readdir> and B<afsio fidreaddir> is the raw
binary content of the AFS directory object; The data is not human
readable automatically.

=head1 OPTIONS

=over 4

=item B<-file> <I<filename>>

Specifies the AFS pathname of the file to read. This option is used by
B<afsio read>. A path not beginning with F</afs> is interpreted relative
to the cell's F<root.cell>. A path beginning with F</> but not F</afs> is
invalid.

=item B<-dir> <I<dirname>>

Specifies the AFS pathname of the directory to read. This option is
used by B<afsio readdir>. The same path resolution rules described
under B<-file> apply.

=item B<-fid> <I<volume.vnode.uniquifier>>

Specifies the file or directory to read as a FID triple (for example,
C<536870915.4.2>). This option is used by B<afsio fidread> and B<afsio
fidreaddir>.

=item B<-cell> <I<cell name>>

Specifies the AFS cell to operate in.

=item B<-realm> <I<realm name>>

Specifies the Kerberos realm to use for authentication.

=item B<-md5>

Computes and prints an MD5 digest of the data read.

=item B<-verbose>

Enables verbose output.

=item B<-clear>

Uses unencrypted (cleartext) connections to file servers.

=item B<-crypt>

Uses encrypted connections to file servers.

=item B<-as-user> <I<username>>

Uses localauth credentials to pretend to be the given user, allowing
authenticated RXAFS operations without a running kernel client.

=item B<-help>

Prints the online help for this command. All other valid options are
ignored.

=back

=head1 EXAMPLES

The following reads a file from AFS to standard output:

   % afsio read -file /afs/testcell.example.com/greeting.txt
   Hello

The following reads a file identified by its FID:

   % afsio fidread -fid 536870915.8.824
   Hello

The following reads the raw contents of an AFS directory and saves
them to a local file:

   % afsio readdir -dir /afs/testcell.example.com/user/jdoe \
       > dir.txt

=head1 PRIVILEGE REQUIRED

For B<afsio read> and B<afsio fidread>, the issuer must have the C<r>
(read) and C<l> (lookup) permissions on the the directory containing
the target file.

For B<afsio readdir> and B<afsio fidreaddir>, the issuer must have the
C<l> (lookup) permission on the target directory.

The B<-as-user> option requires access to the local key material,
which is typically only readable by the local superuser C<root> on a
server machine.

=head1 SEE ALSO

L<afsio(1)>,
L<afsio_write(1)>

=head1 COPYRIGHT

Copyright 2026 Junsouh Hong <junsouh@gmail.com>

This documentation is covered by the IBM Public License Version 1.0.
This man page was written by Junsouh Hong for OpenAFS.

=cut